.cards {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; */
    /* cursor: none; */
    /* display: flex;
    align-items: stretch; */
}



img {
    /* height: 500px */
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.card-inside{
    padding: 10px;
    margin: 20px;
}

/* a {
    display: none;
} */

