.ret-btn{
    font-size: 20px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}


.card-inside{
    padding: 20px;
    margin: 20px;
}




