a {
    font-size: 50px;
    display: flex;
    align-items: flex-start;
    width: 15rem
}

a:hover {
    color: aqua;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    align-content: center;
}

.photo {
    padding: 2rem;
}

img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin: 6px;
}

.details {
   display: flex;
   flex-direction: column;
   max-width: 20%;
}

.details > h1 {
    font-size: 40px;
}

.details > p {
    font-size: 20px;
}

@media screen and (max-width: 960px){
    .details {
        max-width: 50%;
        padding: 1rem;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 1rem;
}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1%;
}