<a routerLink = "/">Go back</a>
<div class="box">
    <div class="photo">
        <img src="https://image.tmdb.org/t/p/w500/{{ moviePoster }}"/>
    </div>
    <div class="details">
        <h1>{{ movieName }}</h1>
        <p>{{ movieOverview }}</p>
    </div>
</div>
<!-- Similar movies under here -->
<div>
    <h1>Similar Movies</h1>
    <div class="cards">
        <app-similar-card-item *ngFor="let movie of similarMovies" [movie]="movie"></app-similar-card-item>
    </div>
</div>

<!-- Dont forget to add the not found page -->
<!-- Will need to find a better way to pass data between routes -->
<!-- Passing from card-item -->
<!-- Also find a way to make URL SEO optimisable -->