<div class="box">
    <div class="photo">
         <div class="photo-container">
             <img src="https://image.tmdb.org/t/p/w500/{{ moviePoster }}"/>
        </div>
    </div>
    <div class="details">
        <h1>{{ movieName }}</h1>
        <p>{{ movieOverview }}</p>
    </div>
    <div class="emotions">
        <div class="emotions-container">
            <h3>Tag this movie with an emotion below!</h3>
            <div class="emoji-list">
                <div class="count-num">
                    <fa-icon (click) = "clickSmile()" title="Happy" class="smileEm" [icon]="faSmile"></fa-icon>
                    <p>{{ getSmileClickCount()}}</p>
                </div>
                <div class="count-num">
                    <fa-icon (click) = "clickSad()" title="Sad" class="sadEm" [icon]="faSadCry"></fa-icon>
                    <p>{{ getSadClickCount() }}</p>
                </div>
                <div class="count-num">
                    <fa-icon (click) = "clickMeh()" title="Meh" class="mehEm" [icon]="faMeh"></fa-icon>
                    <p>{{ getMehClickCount() }}</p>
                </div>
            </div>
            <div class="delete-button-container">
                <button class="delete-button"(click) = "deleteThisMovie()">REMOVE MOVIE</button>
            </div>
        </div>
    </div>
</div>

<!-- Similar movies under here -->
<div class="sim-container">
    <h1>Similar Movies</h1>
    <div class="cards">
        <app-similar-card-item *ngFor="let movie of similarMovies" [movie]="movie"></app-similar-card-item>
    </div>
</div>