<input class="search-bar" type="text" name="search" [(ngModel)]="searchText" 
autocomplete="off" placeholder="Search">

<div class="center">
    <label id="cb-hap" nz-checkbox [(ngModel)]="isCheckedHap" (ngModelChange)="happyMovieFilter()">
        Happy
    </label>
    <label id="cb-sad" nz-checkbox [(ngModel)]="isCheckedSad" (ngModelChange)="sadMovieFilter()">
        Sad
    </label>
    <label id="cb-meh" nz-checkbox [(ngModel)]="isCheckedMeh" (ngModelChange)="mehMovieFilter()">
        Meh
    </label>
</div>
<div class="cards">
    <app-card-item class="the-cards" 
    *ngFor="let movie of ((isCheckedHap || isCheckedSad || isCheckedMeh) ? 
                        myMovieArrFiltered : myMovieArr) | searchFilter: searchText | paginate: { itemsPerPage: 20, currentPage: p }" 
    [movie]="movie"></app-card-item>    
</div>
<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

<div class="scroll-up-container">
    <button id="scroll-up-btn" (click)="scrollUp()">Scroll Up</button>
</div>
