.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    margin: 0 4rem;
}

app-card-item {
    transition: transform .2s;
    /* margin: 0 1.5rem */
}

app-card-item:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1100px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

label {
    padding: 1em;
}