.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1rem; */
}

app-card-item {
    transition: transform .2s
}

app-card-item:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1100px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.ret-btn{
    font-size: 20px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DB1F48;
    cursor: pointer;
    transition: background-color 1s;
}

.ret-btn:hover {
    background-color:#004369;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}