<input class="search-bar" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search" />

<div class="center">
    <label>
        <input type="checkbox" [checked]="filters.happy"
            (change)="toggleFilter('happy', $any($event.target).checked)" />
        Happy
    </label>
    <label>
        <input type="checkbox" [checked]="filters.sad" (change)="toggleFilter('sad', $any($event.target).checked)" />
        Sad
    </label>
    <label>
        <input type="checkbox" [checked]="filters.meh" (change)="toggleFilter('meh', $any($event.target).checked)" />
        Meh
    </label>
</div>

<div class="cards">
    <app-card-item class="the-cards" *ngFor="
      let movie of filteredMovies
        | searchFilter : searchText
        | paginate : { itemsPerPage: 20, currentPage: p }
    " [movie]="movie"></app-card-item>
</div>

<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

<div class="scroll-up-container">
    <button id="scroll-up-btn" (click)="scrollUp()">Scroll Up</button>
</div>